<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/places" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="titulo" placeholder="Lugar"></ion-input>
          <ion-input type="text" [(ngModel)]="imagen" placeholder="http://imagen.jpg"></ion-input>
          <ion-button color="primary" (click)="nuevoLugar()">Agregar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
